<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place_holder</title>
    <link rel="stylesheet" href="Template.css">
</head>
<body>
    <h1>
        <strong>Place_holder</strong>
    </h1>
    <div>
        <img class="image" src="https://th.bing.com/th/id/R.31e421e618678d5385f382c40a757eef?rik=tkGCsYacI8KKrQ&pid=ImgRaw&r=0" alt="place_holder">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam aliquam rerum recusandae expedita asperiores officia itaque quas, at animi nihil quia porro aperiam qui enim, eos, minima odio illum quibusdam ut magnam tempora adipisci maiores. Quod architecto minima a, inventore nobis eos labore, quasi odio optio facere rem voluptates!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, maxime.</p>
</body>
</html>