h1 {
    text-align: center;
    font-size: 500%;
    padding: 5%;
    background-color: lavender;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

body {
    background-color: hotpink;
}

img {
    height: 300px;
    transition: 0.8s;
    margin: 1%;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 7px solid pink;
}

img:hover {
    transform: scale(1.2);
    transition: .2s;
    z-index: 100;
}

div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
