:root{
    --header-color: #282A35;
    --header-text: #EBEBEB;
    --footer-color: #FFF4A3;
    --purple: #9763F6;
    --pink: #FFC0C7;
    --MainText: 35px;
    --SecundaryText: 25px;
    --PlainText: 20px
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background-color: var(--header-color);
}

.footer{
    background-color: var(--footer-color);
}

.logo{
    width: 75px;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
}

.headMain{
    display: grid;
    background-color: var(--header-color);
}

.mainMain{
    display: grid;
    text-align: center;
    color: var(--header-text);
}

.imageMain{
    background-image: url("competition2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.leftBoxContents{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftBoxText{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.headText{
    color: var(--header-text);
    font-size: 20px;
    position: relative;
    text-align: center;
}

.footMain{
    display: grid;
    background-color: var(--header-color);
    color: var(--header-text);
}

h2{
    font-size: var(--MainText);
}

h3{
    font-size: var(--SecundaryText);
}

h4{
    position: relative;
    font-size: var(--SecundaryText);
    margin-left: 10px;
}

p{
    font-size: var(--PlainText);
}

img{
    width: 353px;
    height: 673px;
}
