body{
    margin: 0;
    background-size: cover;
    background-color: rgb(0, 105, 255);
    height: 200vh;
}

img{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.window{
    position: relative;
    overflow: hidden;
    height: 100vh;
}